<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Classes.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingPro">
        <activity
            android:name=".Activitys.Showing_History.User_History_Activity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Showing_History.All_History_Show_Activity"
            android:exported="true"></activity>
        <activity
            android:name=".Activitys.Register.ManageOtpActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Register.RegisterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activitys.AdministrationActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.VotingBallotActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.ContainerActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Home_Activity"
            android:exported="true" />
        <activity
            android:name=".Activitys.Splash_Activity"
            android:exported="true">

            <!-- Registration Activity -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>